@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	ViewData["Title"] = "Rotas";

	@using (Html.BeginForm("UploadFile", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<div class="text-center">
			<h4 class="display-4">Importar Rotas</h4>
			<br />
			<div class="form-group">
				<input class="form-control" type="file" name="file" accept=".xlsx" id="fileLoaded" onchange="ValidateFileInput()" />
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Importar" class="btn btn-primary" id="importFile" disabled />
			</div>
		</div>
	}
}
else
{
	<div class="d-flex justify-content-center text-justify align-content-center">
		<h1>Routes Management</h1>
	</div>
}


<script>
	function ValidateFileInput() {
		var fileLoaded = document.getElementById('fileLoaded').files.length;

		if (fileLoaded == 1) {
			document.getElementById('importFile').disabled = false;
		}
	}
</script>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}