@model RoutesManagement.Models.PersonViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Nova</h1>

<h4>Pessoa</h4>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" checked="checked" asp-for="IsAvailable" id="checkStatus" onclick="ValidateCheckboxValue()" />
                    <span id="statusText">Disponível</span>
                </label>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
            <br />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-light">Voltar</a>
</div>

<script>
     function ValidateCheckboxValue() {
        var result = document.getElementById('checkStatus').checked;
        
        document.getElementById('statusText').innerHTML = result ? 'Disponível' : 'Indisponível';
     }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @if(TempData["registerError"] != null) {
        <script src="~/js/notifications/registerErrorCreate.js"></script>
    }

    @if(TempData["personSuccess"] != null){
        <script src="~/js/notifications/personSuccess.js"></script>
    }

}

